@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap");
@keyframes anim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body {
  width: 100%;
  margin: 0px;
}
body .blocpage {
  display: flex;
  flex-direction: column;
  /* Section2 Restaurants */
}
body .blocpage .blocrestaurants {
  font-family: "Roboto";
  width: 100%;
  height: 80rem;
  background-color: #f4f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
body .blocpage .blocrestaurants__titre2 {
  font-size: 25px;
  font-weight: bolder;
  height: 30px;
  width: 90%;
}
body .blocpage .blocrestaurants__card2 {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  width: 90%;
  align-items: center;
  box-shadow: #3b3838;
  height: 255px;
  position: relative;
  box-shadow: 0px 5px 15px #d2d2d2;
}
body .blocpage .blocrestaurants .imgplats {
  display: flex;
  width: 100%;
  height: 70%;
}
body .blocpage .blocrestaurants .imgplats > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
body .blocpage .blocrestaurants__toprighttext {
  position: absolute;
  top: 5%;
  right: 4%;
  font-size: 15px;
  color: #06ab82;
  background-color: #99E2D0;
  height: 5px;
  padding: 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
body .blocpage .blocrestaurants__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
  width: 95%;
  font-size: 13px;
  padding-top: 7px;
}
body .blocpage .blocrestaurants .sous_titres {
  display: flex;
  flex-direction: column;
  line-height: 0px;
}
body .blocpage .blocrestaurants .legende {
  font-size: 17px;
}

header #logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
}
header #logo a {
  text-decoration: none;
}
header #logo .ohMyfood {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}
header #logo .arrowleft {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  font-family: "Roboto";
  background-color: #414242;
  height: 250px;
  width: 100%;
}
footer .logo .footer_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 7px;
  font-size: 20px;
  color: white;
  font-family: "shrikhand";
  padding: 35px;
  margin: 0;
}
footer .footer_item {
  color: white;
  font-size: 17px;
}
footer .footer_item ul {
  margin: 0;
}
footer .footer_item ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 15px;
  line-height: 30px;
}
footer .footer_item ul li .fas fa-ustensils {
  font-size: 20px;
}

.regions {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #f4f2f2;
  box-shadow: inset 0px 12px 11px -16px #090909;
}
.regions__mapmarker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.blocnavbar {
  font-family: "Roboto";
  width: 100%;
  height: 16rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  gap: 30px;
}
.blocnavbar h1 {
  width: 226px;
  font-weight: bolder;
  font-size: 20px;
  margin: 0;
}
.blocnavbar__sous_titre {
  font-size: 18px;
  margin: 0;
  width: 80%;
}

/* Section1 Fonctionnement/Filtres */
.titre2 {
  font-family: "Roboto";
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  height: 30px;
  padding-top: 50px;
  width: 90%;
}

.options {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 25rem;
  gap: 20px;
}
.options__card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 55px;
  padding: 10px;
  background-color: #f4f2f2;
  border-radius: 15px;
  box-shadow: 0px 5px 15px #d2d2d2;
  gap: 30px;
}
.options__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 20px 20px;
  margin-left: -25px;
  color: white;
  width: 30px;
  height: 30px;
}
.options .bolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  flex: 1;
}

.opacity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 45px;
  color: white;
  font-size: 15px;
  padding-top: 20px;
}
.opacity .boutonsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
  border-radius: 30px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.opacity .boutonsearch:hover {
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
}
.opacity .boutonsearch:hover::after {
  border-radius: 30px;
  opacity: 1;
}
.opacity .boutonsearch::after {
  border-radius: 30px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ff93e1 0%, #ae80e5 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.heart1 {
  top: 333px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  right: 30px;
}
.heart1 .far {
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.heart1 .far:hover {
  opacity: 0;
  z-index: 2;
}
.heart1 .far:hover + .fas {
  opacity: 1;
  z-index: 1;
  animation: anim 0.5s linear both;
}
.heart1 .fas {
  background: linear-gradient(63deg, #FF79DA 0%, #9356DC 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.5s cubic-bezier(0.5, 0.2, 1, 0.5);
  transform: translateX(-50%);
}

.heart2 {
  top: 212px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  right: 30px;
}
.heart2 .far {
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.heart2 .far:hover {
  opacity: 0;
  z-index: 2;
}
.heart2 .far:hover + .fas {
  opacity: 1;
  z-index: 1;
  animation: anim 0.5s linear both;
}
.heart2 .fas {
  background: linear-gradient(63deg, #FF79DA 0%, #9356DC 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.5s cubic-bezier(0.5, 0.2, 1, 0.5);
  transform: translateX(-50%);
}

.container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand";
  border-radius: 2px;
  background: #f4f2f2;
  opacity: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  text-align: center;
  min-height: 260vh;
  top: -80%;
}

.container-hidden {
  animation: fade-out 4s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loadtxt {
  font-size: 12px;
  animation: text 3s ease-in-out infinite;
  position: absolute;
}

@keyframes text {
  50% {
    color: white;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #9356DC;
  animation: spin 2s linear infinite;
  /* background: $Secondary; */
}

.loader::before, .loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
}

.loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #99E2D0;
  animation: spin 4s linear infinite;
  /* background: $Tertiary; */
}

.loader::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: #FF79DA;
  animation: spin 6s linear infinite;
  /* background: $white; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
