@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Shrikhand&display=swap");
@keyframes anim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
body .img_salade {
  width: 100%;
  height: 250px;
}
body .img_salade > img {
  width: 100%;
  height: 25%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
body .blocmain {
  display: flex;
  flex-direction: column;
  border-radius: 30px 30px 0px 0px;
  background-color: #f4f2f2;
  margin-top: -50px;
  padding: 20px;
}
body .titre1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
body h1 {
  font-family: "Shrikhand";
  font-size: 28px;
}
body .menus {
  display: flex;
  flex-direction: column;
  height: 55px;
}
body h2 {
  font-size: 17px;
  font-weight: lighter;
  padding-bottom: 5px;
  margin: 0;
  padding-top: 5px;
}
body .bloc2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 15px;
  margin-bottom: 30px;
}
body .bloc2__card1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  font-size: 13px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 15px #d2d2d2;
  overflow: hidden;
}
body .bloc2__card1__details {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  font-size: 13px;
  padding: 15px;
  height: 100%;
}
body .bloc2__card1__details h3, body .bloc2__card1__details p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-block: 0px;
  line-height: 20px;
}
body .bloc2__card1__prix {
  padding-right: 15px;
  height: 100%;
}
body .bloc2__card1__checker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  width: 75px;
  margin-right: -75px;
  height: 75px;
}

header #logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
}
header #logo a {
  text-decoration: none;
}
header #logo .ohMyfood {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}
header #logo .arrowleft {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  font-family: "Roboto";
  background-color: #414242;
  height: 250px;
  width: 100%;
}
footer .logo .footer_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 7px;
  font-size: 20px;
  color: white;
  font-family: "shrikhand";
  padding: 35px;
  margin: 0;
}
footer .footer_item {
  color: white;
  font-size: 17px;
}
footer .footer_item ul {
  margin: 0;
}
footer .footer_item ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 15px;
  line-height: 30px;
}
footer .footer_item ul li .fas fa-ustensils {
  font-size: 20px;
}

.opacity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
  color: white;
  font-size: 15px;
}
.opacity__order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.opacity__order:hover {
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
}
.opacity__order:hover::after {
  border-radius: 30px;
  opacity: 1;
}
.opacity__order::after {
  border-radius: 30px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ff93e1 0%, #ae80e5 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.arrowleft {
  padding: 30px;
}

.liseret {
  width: 45px;
  height: 4px;
  background-color: #99E2D0;
}

.heart1 {
  top: 333px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  right: 30px;
}
.heart1 .far {
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.heart1 .far:hover {
  opacity: 0;
  z-index: 2;
}
.heart1 .far:hover + .fas {
  opacity: 1;
  z-index: 1;
  animation: anim 0.5s linear both;
}
.heart1 .fas {
  background: linear-gradient(63deg, #FF79DA 0%, #9356DC 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.5s cubic-bezier(0.5, 0.2, 1, 0.5);
  transform: translateX(-50%);
}

.heart2 {
  top: 212px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  right: 30px;
}
.heart2 .far {
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.heart2 .far:hover {
  opacity: 0;
  z-index: 2;
}
.heart2 .far:hover + .fas {
  opacity: 1;
  z-index: 1;
  animation: anim 0.5s linear both;
}
.heart2 .fas {
  background: linear-gradient(63deg, #FF79DA 0%, #9356DC 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.5s cubic-bezier(0.5, 0.2, 1, 0.5);
  transform: translateX(-50%);
}

.bloc2__card1__checker {
  transition-duration: 0.8s;
}
.bloc2__card1:hover > .bloc2__card1__checker {
  margin-right: 0px;
}
.bloc2__card1:hover .fa-check-circle {
  transition: all 0.3s 0.3s;
  transform: rotate(360deg);
}

.animation-menu1 {
  animation: animation-menu1 1.2s cubic-bezier(0.25, 0.25, 0.25, 0.25) both;
}

@keyframes animation-menu1 {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animation-menu2 {
  animation: animation-menu2 1.2s cubic-bezier(0.25, 0.25, 0.25, 0.25) both;
}

@keyframes animation-menu2 {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animation-menu3 {
  animation: animation-menu3 1.2s cubic-bezier(0.25, 0.25, 0.25, 0.25) both;
}

@keyframes animation-menu3 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animation-menu4 {
  animation: animation-menu4 1.2s cubic-bezier(0.25, 0.25, 0.25, 0.25) both;
}

@keyframes animation-menu4 {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=restaurant.css.map */
