.bloc2__card1{
        
          &__details{
            
          }  

          &__prix{
          }
          &__checker{
          transition-duration: 0.8s;
          }
          &:hover > .bloc2__card1__checker {
            margin-right: 0px;
          }
          &:hover .fa-check-circle{
            transition: all 0.3s 0.3s;
            transform: rotate(360deg);
        }
      }
  