$Primary: #9356DC;
$Secondary: #FF79DA;
$Tertiary: #99E2D0;
$grey: rgb(59, 56, 56);
$shadowdark:rgb(160, 160, 160);
$mediumgrey: rgb(247, 247, 247);
$cleargrey: rgb(244, 242, 242);
$white: white;
$shadow: #d2d2d2;
$green: #06ab82;
$cleargreen: #99E2D0;
$card: #f4f3f3;
$footerbkg: #414242;
$blk: #090909;
